

body{
position: relative; 
    
background-color:#151515;
color: #FFF;
font-family: 'Oswald',serif;
        font-size: 48px;
text-align:center;
}

.thumbnail{
float: center;
width: 222px;
height:553px;
margin: -5px
}

h1 {
letter-spacing:  -0.05em;
    
    
	font-weight: 400;
	margin:0px 0px;
}

p{
font-weight: 300;
font-size:50%;
}
h2{
font-weight: 300;
font-size:50%;
margin: 0px 20px;
}

ul {
    float: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
	font-weight: 300;
 white-space: nowrap;
}
.topbar{
background-color:#0F0F0F;
position: relative; 
top: 0px;
}
.breaker{
background-color:#FFCC00;
height:20px;
}
.menu {
letter-spacing:  -0.05em;
    float: center;
    width: 6em;
    text-decoration: none;
    color: #F8E9D6;
    
    padding: 0.1em 0.2em;
	}
	


.menu:hover {
    color: #FFCC00 ;
}

.showbox {
  margin:0 auto;
  text-align: center;
width: 666px;

}
li {
    display: inline;
}

.showbox:hover  a{
filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.showbox		a:hover{
filter: none;
  -webkit-filter: grayscale(0);
  }

