

body{

    
background-color:#0D0D0B;
color: #FFF;
font-family: 'Oswald',serif;
        font-size: 48px;

}
.uppermenu{
float: right;
margin: 5px 5px;

}
.thumbnail{
float: center;
width: 222px;
height:553px;
margin: 0px -5px;
}

h1 {
letter-spacing:  -0.05em;
    
    text-align:center;
	font-weight: 400;
	margin:0px 0px;
}

p{
font-weight: 300;
font-size:50%;
}
h2{
font-weight: 300;
font-size:50%;
margin: 0px 20px;
text-align:center;
}

ul {
    
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
	font-weight: 300;
 white-space: nowrap;
}
.topbar{
background-color:#0D0D0B;

width: 1024px;

margin: 0 auto;
padding:5px;
}
.breaker{
background-color:#957800;
height:15px;
width: 700px;


}

	.pagebody{
width: 1024px;

margin: 0 auto;
padding:5px;


}

.menu {
letter-spacing:  -0.05em;
    float: center;
    width: 6em;
    text-decoration: none;
    color: #F8E9D6;
    
    padding: 0.1em 0.2em;
	}
	
.pageimage{

    max-width:1024px;

    max-height:1024px;
	float: center;
	text-align:center;
}

.menu:hover {
    color: #CFA600 ;
}

.showbox {
  margin:0 auto;
  text-align: center;
width: 888px;

}
li {
    display: inline;
}

.showbox:hover  a{
filter: gray; /* IE6-9 */
  filter: grayscale(50%); /* Firefox 35+ */
  -webkit-filter: grayscale(50%); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.showbox		a:hover{
filter: none;
  -webkit-filter: grayscale(0);
  }

