

body{
float: center;
	text-align:center;
    dsfbackground-image: url("images/background.png");
background-color:#181816;

color: #EDEDF5;
font-family: 'Oswald',serif;
        font-size: 32px;

		
	
}
.uppermenu{
float: center;

width: 1024px;

margin: 0 auto;
padding:5px;

}
.thumbnail{
float: center;
width: 222px;
height:553px;
margin: 0px -5px;
}

h1 {
letter-spacing:  -0.05em;
    
    text-align:center;
	font-weight: 400;
	margin:0px 0px;
}

p{
font-weight: 300;
font-size:70%;
	text-align:left;
}
h2{
font-weight: 300;
font-size:75%;
margin: 0px 20px;
text-align:center;
}

ul {
    
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
	font-weight: 300;
 white-space: nowrap;
 
}
.topbar{


width: 1024px;

margin: 0 auto;
padding:5px;
}
.breaker{
background-color:#215A6D;
height:3px;


text-align:center;
margin:30px 2px;

-webkit-box-shadow: 1px 2px 4px 1px #141414;
box-shadow: 1px 2px 4px 1px #141414;
}

	.pagebody{
width: 1024px;
	
margin: 0 auto;
padding:5px;


}

.menu {
letter-spacing:  -0.05em;
    float: center;
    width: 6em;
    text-decoration: none;
    color: #92C7A3;
    
    padding: 0.1em 0.2em;
	}
	
.pageimage{

    max-width:1024px;
	
    max-height:1024px;
		float: center;
		text-align:center;
}

.menu:hover {
    color:#3CA2A2 ;
}

.showbox {
  margin:0 auto;
  text-align: center;
width: 880px;
height: 554px;
-webkit-box-shadow: 1px 2px 4px 1px #141414;
box-shadow: 1px 2px 4px 1px #141414;

}
li {
text-align: center;
    display: inline;
}

.showbox:hover  a{
filter: gray; /* IE6-9 */
  filter: grayscale(50%); /* Firefox 35+ */
  -webkit-filter: grayscale(50%); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.showbox		a:hover{
filter: none;
  -webkit-filter: grayscale(0);
  }

.boxeffect
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.boxeffect:before, .boxeffect:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}